{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>bm2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <!-- <link href="{% static 'assets/images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
  <link href="{% static 'assets/images/favicon.ico' %}" rel="icon" type="image/x-icon">
  <link href="{% static 'assets/css/default.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet"> -->
</head>
<body>
  <h1>Hello Django</h1>
</body>
</html>
